<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FlightValidation">
	<listeners>
		<listener class-name="utilities.TestListener" />
	</listeners>
	<test name="Fligh_Booking">
		<classes>
			<class name="pageTests.FlightBookingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
